@media (max-width:576px) {

    .main {
        display: flex;
        flex-direction: column;
        margin: 25px;
    }

    .sign {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footercolumns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3;
        gap: 30px;
    }

    #p {
        padding-right: 90px;
    }

    .column {
        padding-top: 20px;
    }

    .footer {
        padding: 20px
    }

    .lastfooter {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 0;
    }

    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background-color: #fff;
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .headerleft {
        display: flex;
        flex-direction: row;
        float: left;
        width: 62%;
        justify-content: space-between;
    }

    .headerright {
        display: flex;
        align-items: center;
    }

    .po {
        margin: 20px 30px;
        margin-top: 100px;
    }

    #r {
        text-align: center;
    }

    #bar {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    #name {
        margin: 20px 0;
        font-size: 25px;

    }

    .menu {
        display: none;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: absolute;
        width: 150px;
        border-radius: 10px;
        flex-direction: row;
        margin-top: 50px;
    }

    .menu1,
    .menu2,
    .menu3,
    .menu4,
    .menu5,
    .menu6 {
        font-size: 12px;
        padding-top: 10px
    }

    .menu6 {
        padding-bottom: 10px;
    }

    .menu p {
        font-size: 10px;
    }

    .work {
        display: none;
    }

    .headerleft:hover .menu {
        display: flex;

    }

    #ul {
        padding-left: 10px;
    }

    #menu111 {
        width: 300px;
    }

    #menu21,
    #menu31,
    #menu41,
    #menu51,
    #menu61 {
        width: 150px;
    }
    #search
    {
        display: flex;
        flex-direction: row;
    }
    #input
    {
        width: 80px;
    }
}

@media (min-width:576px) and (max-width:922px) {
    .main {
        margin: 25px 35px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .sign {
        display: flex;
        justify-content: center;
    }

    #p {
        padding-right: 400px;
        margin-bottom: 30px;
    }

    .column {
        padding-top: 40px;
    }

    .footercolumns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer {
        padding: 30px;
    }

    .lastfooter {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 0;
    }

    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background-color: #fff;
        padding: 0 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .headerleft {
        display: flex;
        flex-direction: row;
        float: left;
        width: 57%;
        justify-content: space-between;
    }

    .headerright {
        display: flex;
        align-items: center;
    }

    .po {
        margin: 20px 30px;
        margin-top: 85px;
    }

    #r {
        text-align: center;
    }

    #bar {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    #name {
        font-size: 25px;
        margin: 20px 0
    }

    .menu {
        display: none;
    }

    .work {
        display: none;
    }

    .menu {
        display: none;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: absolute;
        width: 200px;
        border-radius: 10px;
        flex-direction: row;
        margin-top: 50px;
    }

    .menu1,
    .menu2,
    .menu3,
    .menu4,
    .menu5,
    .menu6 {
        font-size: 18px;
        padding-top: 10px;
    }

    .menu6 {
        padding-bottom: 10px;
    }

    .menu p {
        font-size: 10px;
    }

    .work {
        display: none;
    }

    .headerleft:hover .menu {
        display: flex;

    }

    #ul {
        padding-left: 10px;
    }

    #menu111 {
        width: 400px;
    }

    #menu21,
    #menu31,
    #menu41,
    #menu51,
    #menu61 {
        width: 200px;
    }
    #search
    {
        display: flex;
        flex-direction: row;
        margin:0 20px
    }
    #input
    {
        width: 100px;
    }
}

@media (min-width:922px) and (max-width:1200px) {
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 25px 40px;
        gap: 35px;
    }

    .sign {
        display: flex;
        justify-content: center;
    }

    #p {
        padding-right: 700px;
        margin-bottom: 30px;
    }

    .column {
        padding-top: 40px;
    }

    .footercolumns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer {
        padding: 30px;
    }

    .lastfooter {
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 0;
    }

    .po {
        margin-left: 80px;
        margin-top: 30px;
    }

    #r {
        text-align: center;
    }

    .work {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
    }

    #bar {
        display: none
    }

    .header {
        display: grid;
        grid-template-columns: 76% 24%;
        padding: 0 25px
    }

    .headerleft {
        display: flex;
        flex-direction: row;
    }

    .menu {
        padding: 14px 0;
    }

    .headerright {
        display: flex;
        flex-direction: row;
    }

    .menu1,
    .menu2,
    .menu3,
    .menu4,
    .menu5 {
        padding-right: 13px;
        font-size: 17px;
    }

    .menu6 {
        font-size: 17px;
        margin-right: 70px;
    }

    #ul {
        padding-left: 20px;
    }

    #menu111 {
        display: grid;
        grid-template-columns: 65% 35%;
    }

    #ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #menu111 {
        width: 600px;
    }

    #menu21,
    #menu31,
    #menu41,
    #menu51,
    #menu61 {
        width: 300px;
    }
#input
{
    display: none;
}
}

@media (min-width:1200px) and (max-width:1600px) {
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 25px 60px;
        gap: 35px;
    }

    .sign {
        display: flex;
        justify-content: center;
    }

    .po {
        margin-left: 80px;
        margin-top: 30px;
    }

    #r {
        text-align: center;
    }

    .work {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;
    }

    #bar {
        display: none
    }

    .header {
        display: grid;
        grid-template-columns: 80% 20%;
        padding: 0 25px
    }

    .headerleft {
        display: flex;
        flex-direction: row;
    }

    .menu {
        padding: 14px 0;
    }

    .headerright {
        display: flex;
        flex-direction: row;
    }

    .menu1,
    .menu2,
    .menu3,
    .menu4,
    .menu5 {
        padding-right: 25px;
        font-size: 18px;
    }

    .menu6 {
        font-size: 18px;
        margin-right: 210px;
    }

    #ul {
        padding-left: 30px;
    }

    #p {
        margin-bottom: 30px;
    }

    .column {
        padding-top: 20px;
    }

    .footercolumns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        float: right;
        width: 70%;
    }

    .footer {
        padding: 30px 60px;

    }

    .lastfooter {
        padding: 20px;
        display: flex;
        align-items: center;
        padding-bottom: 0;
    }

    .fot1 {
        display: flex;
        flex-direction: row;
        padding-bottom: 40px;
    }

    #l {
        float: left;
        width: 70%
    }

    #r {
        float: right;
        display: flex;
        flex-direction: row-reverse;
        width: 30%;
    }

    #bas {
        padding-left: 10px;
        padding-top: 12px;
    }

    .firstfooter {
        padding-right: 50px;
        float: left;
        width: 20%;
    }

    #menu111 {
        display: grid;
        grid-template-columns: 65% 35%;
    }

    #ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #menu111 {
        width: 600px;
    }

    #menu21,
    #menu31,
    #menu41,
    #menu51,
    #menu61 {
        width: 300px;
    }
    #input
    {
display: none;
    }
}

@media (min-width:1600px) {
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 25px 80px;
        gap: 35px;
    }

    .sign {
        display: flex;
        justify-content: center;
    }

    #p {
        margin-bottom: 30px;
    }

    .column {
        padding-top: 40px;
    }

    .footercolumns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        float: right;
        width: 70%;

    }

    .footer {
        padding: 30px 200px;

    }

    .lastfooter {
        padding: 20px;
        display: flex;
        align-items: center;
        padding-bottom: 0;
    }

    .fot1 {
        display: flex;
        flex-direction: row;
    }

    #l {
        float: left;
        width: 70%
    }

    #r {
        float: right;
        display: flex;
        flex-direction: row-reverse;
        width: 30%;
    }

    #bas {
        padding-left: 10px;
        padding-top: 12px;
    }

    .po {
        margin-left: 80px;
        margin-top: 30px;
    }

    .firstfooter {
        padding-right: 50px;
        float: left;
        width: 20%;
    }

    #bar {
        display: none
    }

    .header {
        display: grid;
        grid-template-columns: 85% 15%;
        padding: 0 25px
    }

    .headerleft {
        display: flex;
        flex-direction: row;
    }

    .menu {
        padding: 14px;
    }

    .headerright {
        display: flex;
        flex-direction: row;
    }

    .menu1,
    .menu2,
    .menu3,
    .menu4,
    .menu5 {
        padding-right: 35px;
        font-size: 18px;
    }

    .menu6 {
        margin-right: 710px;
        font-size: 18px;
    }

    .work {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
    }

    #menu111 {
        display: flex;
        flex-direction: row;
    }

    #ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #menu111 {
        width: 600px;
    }

    #menu21,
    #menu31,
    #menu41,
    #menu51,
    #menu61 {
        width: 300px;
    }
    #input
    {
display: none;
    }
}

.column {
    display: flex;
    flex-direction: column;
}

.link {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #3d3d4e;
    padding-top: 15px;
    cursor: pointer;
}

.linkhead {
    text-decoration: none;
    color: #0d0c22;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.footercolumns {
    padding-bottom: 30px;
}

.sign {
    margin-top: 40px;
    padding: 0 20px;
}

.img {
    width: 100%;
}

.fot1 {
    border-bottom: 1px solid silver;
}

.menu a {
    text-decoration: none;
    color: #0d0c22;
}

#menu61 {
    display: none;
    flex-direction: column;
    list-style-type: none;
    padding: 25px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu6:hover #menu61 {
    display: flex;
}

#menu11 {
    flex-direction: column;
    list-style-type: none;
    padding: 25px;
    background-color: #fff;

}

.menu1:hover #menu111 {
    display: flex;
}

#menu111 {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
    position: absolute;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#menu21 {
    display: none;
    flex-direction: column;
    list-style-type: none;
    padding: 25px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu2:hover #menu21 {
    display: flex;
}

#menu31 {
    display: none;
    flex-direction: column;
    list-style-type: none;
    padding: 25px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu3:hover #menu31 {
    display: flex;
}

#menu41 {
    display: none;
    flex-direction: column;
    list-style-type: none;
    padding: 25px;
    color: black;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu4:hover #menu41 {
    display: flex;
}

#menu51 {
    display: none;
    flex-direction: column;
    list-style-type: none;
    padding: 25px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu5:hover #menu51 {
    display: flex;
}